$accent: #df6951;
$golden-yellow: #f1a501;
$orange: #ff6c5c;
$purple: #6c5ce7;
$navy-blue: #181e4b;
$blue-muted: #5e6282;
$dark-yellow: #e69500;
$violet: #8a79ff;
$yankees-blue: #14183e;
$purple-navy: #4d4d80;
$slate-blue: #2c2e50;
$red: #ff0026;
$primary: #3b82f6;
$bg-grey: #6c757d;
$bg-success: #2fbfa0;
$bg-info: #0071f4;
$bg-warning: #FFCE67;
$bg-danger: #ff5c75;
$bg-light: #f0f6ff;
$bg-grey-dark: #4d5a68;
$bg-muted-grey: #8696a9;
$bg-white: #fff;
$bg-teal-green: #03d29d