$accent: #df6951;
$golden-yellow: #f1a501;
$orange: #ff6c5c;
$purple: #6c5ce7;
$navy-blue: #181e4b;
$dark-electric-blue: #5e6282;
$dark-yellow: #e69500;
$violet: #8a79ff;
$yankees-blue: #14183e;
$purple-navy: #4d4d80;
$dark-slate-blue: #2c2e50;
$red: #ff0026;
$primary: #3b82f6